<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>システムエラー</h3>
    <p>システムエラーが発生しました。<br>
        ・不正な操作が行われた<br>
        ・システムの不具合が発生している<br>
        ・存在しない都市の入力が行われた<br>
        などが考えられます。<br>
        しばらくしてから再度お試しください。<br>
        それでも解決しない場合は、管理者にお問い合わせください。<br>
    </p>
    <a href="weather_search.html" th:href="@{/weather}">検索画面へ</a>
</body>

</html>
